<h1><%= link_to "View All Results", all_result_admin_path %></h1><br><br>
<h1>Search by Email</h1>
<%= form_for :individual_result, url: individual_result_admin_path, :method => :post do |f|%>
<p>
  <%= label_tag :Email %><br>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.submit "ok" %>
</p>
<% end %>